.pie-pagina {
    width: 100%;
    background-color: rgba(0, 0, 0);
  
}
  
.pie-pagina .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
    padding: 45px 0;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
} 
.pie-pagina .grupo-1 .box figure img  {
    width: 80px;
}
.pie-pagina .grupo-1 .box h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 20px;
    word-spacing: 40px;
    letter-spacing: 10px;
}
.pie-pagina .grupo-1 .box p {
    color: rgba(255, 255, 255);
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
    font-size: 30px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #FFF;
    line-height: 30px;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center; 
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
    border-radius: 90%;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);

}
.pie-pagina .grupo-2 {
    box-shadow: rgba(50, 50, 93, 0.4) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
    padding: 15px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
}
@media screen and (max-width:950px) { 
    .pie-pagina .grupo-1 {
        width: 90%;   
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;
        padding: 35px 0;
    }
    .pie-pagina .grupo-1 .red-social a {
        font-size: 32px;
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 7px;
         }
    
}
@media screen and (max-width:750px) { 
    .pie-pagina .grupo-1 {
        width: 85%;   
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 0;
    }
    .pie-pagina .grupo-1 .red-social a {
        font-size: 27px;
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 5px;
    }
}